<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>File Storage Allocation</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'filestorage/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'filestorage/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">File Allocation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/dashboard">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1>File Allocation</h1>
                <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th scope="col">Company ID</th>
                        <th scope="col">Company Name</th>
                        <th scope="col">Total File Size</th>
                        <th scope="col">Used File Size</th>
                        <th scope="col">Remaining File Size</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for column in filedetails %}
                      <tr>
                        <th scope="row">{{column.company_id}}</th>
                        <th scope="row">{{column.company_name}}</th>
                        <td>{{column.total_file_size}}</td>
                        <td>{{column.used_file_size}}</td>
                        <td>{{column.remaining_file_size}}</td>
                      </tr>
                      {% endfor %}
                     
                    </tbody>
                  </table>


                  <form action="/filestoragealoc" method="POST">{% csrf_token %}
                 
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Company Id</span>
                      </div>
                    
                      <input type="text" class="form-control" placeholder="CompanyId" id="userid" name="userid">
                    </div>


                
                    <div class="input-group mb-3">
                        <span class="input-group-text">Total Storage Allocated in Giga Bytes</span>
                      <input type="text" class="form-control" placeholder="Enter Storage Size" id="size" name="size">
                      <div class="input-group-append">
                      </div> 
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'filestorage/js/scripts.js' %}"></script>
    </body>
</html>
